.notification-banner {
    padding: 0px 8px;
    font-size: 16px;
    font-weight: bold;
    font-family: ui-monospace;
    margin: 8px 0px;
    border-radius: 4px;
}

.notification-banner.success {
    border: 2px solid #1fbe1f;
    background: #0aca0a40;
    color: #1c761c;
}

.notification-banner.info {
    border: 2px solid #2861a4;
    background: #6696e840;
    color: #174e7c;
}

.notification-banner.error {
    border: 2px solid #a51212;
    background: #dd2f2f2b;
    color: #b71818;
}